body {
  font-family: 'Cabin', sans-serif;
}

.banner {
  font-family: 'Lobster Two', cursive;
  height: 60px;
  font-size: 40pt;
  z-index: 10;
}

.viz > * {
  min-height: 400px;
  padding: 0;
}

#map {
  /*text-align: left;*/
  background: deepskyblue;
}

.aside-1 {
  background: gold;
  padding-top: 7px;
  padding-left: 5px;
}
.aside-1 > * {
  margin-top: 3px;
}

.aside-2 {
  background: hotpink;
}

.traillist {
  height: 60px;
}

.trailname {
  vertical-align: top;
  display: inline-block;
}

.profile {
  height: 60px;
}

.search {
  width: 94% !important;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  #map {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  #map {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

